body nav {
  color: rgb(255, 255, 255);
  background-color:#ff0000;
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}